@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,700;0,800;1,600&display=swap');
*{
    font-family:'Plus Jakarta Sans', sans-serif;
}

.MuiFormControl-root {
    width: 100% !important;
}

.css-xn6ruc>:not(style) {
    width: 100%;
}

.S9gUrf-YoZ4jf {
    width: 100% !important;
}

.css-r47a1p-MuiFormControl-root {
    margin: 0px !important;
}